@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--orange: #ff4d5a;
	--white: #fff;
	--darknavy: #072142;
	--greysecondary: #6c757d;
	--greyprimary: #6c757d;
	--primary: #ff4d5a;
	--somedarkcolor: #111111;
}
